body {
  font-size: 30px;
  color: #fbf7f7;
  margin: 460px;
  padding: 0px;
  font-family: 'Arial', sans-serif;
  background-image: url(/src/images/vale_a_pena_ubber_99_ifood.png);
  background-size: 1680px 800px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: left;
}

h1 {
  color: #eff544;
  text-align: left;
}
h2 {
  color: #f2ef4a;
  text-align: left;
}
h3 {
  color: #e41410;
  text-align: right;
}
h4 {
  color: #f2ef4a;
  text-align: right;
}
h6 {
  color: #e70b16;
  text-align: center;
}
h5 {
  color: #e70b16;
  text-align: right;
}

button {
  padding: 15px 100px;
  margin: 10px 5px;
  background-color: #ce4b51;
  color: rgb(255, 255, 255);
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #f9678c;
}

.cadastro1-container {
  max-width: 300px;
  margin: 50;
  padding: 20px;
  background-color: #fcfbfb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(102, 239, 56, 0.1);
}

.cadastro1-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 5px;
}

label {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0px;
  display: display-box;
}

input, select {
  font-size: 20px;
  width: 60%;
  padding: 10px;
  margin-top: 5%;
  border-radius: 15px;
  border: 3px solid #ac1616;
}

.button-group {
  display: flexbox;
  justify-content: center;
}
